<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table style="width:100%">
  <tr>
    <th>Time</th>
    <th>Kills</th>
    <th>Secrets</th>
    <th>Challenges</th>
    <th>Total</th>
  </tr>
  <tr>
    <td><%= @time -%></td>
    <td><%= @kills -%></td>
    <td><%= @secrets -%></td>
    <td><%= @challenges -%></td>
    <td><%= @total -%></td>
  </tr>
</table>
