<!DOCTYPE html>
<html>
  <head>
    <title>Gloom</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="header">
          <%= yield :header %>
        </div>
      </div>
      <div class="row">
        <div id="main-content" class="col-md-8">
          <!-- main content -->
          <%= yield %>
        </div>
        <div id="sidebar" class="col-md-4">
          <!-- sidebar content -->
          <%= yield :sidebar %>
        </div>
  </body>
</html>
